[Unit]
Description=KDE polkit

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=default.target